
[submodule "arduino-pico"]
	path = arduino-pico
	url = https://github.com/earlephilhower/arduino-pico


[submodule "I2CCom"]
	path = libraries/I2CCom
	url = https://github.com/dommilosz/I2CCom
[submodule "misc/customasm"]
	path = misc/customasm
	url = https://github.com/dommilosz/customasm/
[submodule "libraries/PicoEasyReflash"]
	path = libraries/PicoEasyReflash
	url = https://github.com/dommilosz/PicoEasyReflash
